<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post">
            Email:
            <input type="text" name="email" id="" placeholder="Enter your email">
            Password:
            <input type="password" name="password" id="" placeholder="Enter your password">
            <button type="submit">Log In</button>
        </form>
    </body>
</html>